<!doctype html>
<html>

<head>
  <title>Crear Viaje</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div class="flex flex-col justify-around bg-gray-100 h-screen ">
    <div>
      <p class="text-center font-bold text-4xl text-gray-700">Crear viaje</p>
      <p class="text-center p-4 text-gray-700">Para crear un viaje por favor complete toda la información que se muestra
        en la parte inferior</p>
    </div>
    <div class="flex-row flex justify-evenly text-center">
      <div class="flex flex-col">
        <p class="font-bold">Vehiculo</p>

        <select name="colors" id="vehicle" class="w-32 h-8 p-1 rounded">
        </select>
      </div>
      <div class="flex flex-col">
        <p class="font-bold">Cantidad de asientos disponibles</p>
        <p id="capacity"></p>
      </div>
    </div>
    <div class="flex flex-row justify-around ">
      <div class="flex flex-col w-52">
        <p class="text-center font-bold">Lugar de partida</p>
        <div class="flex flex-col text-center self-center">
          <div class="flex flex-col">
            <label>Ciudad</label>
            <select name="citys" id="city-departure" class="w-48 h-8 p-1 rounded">
              <option value="Bogotá">Bogotá</option>
              <option value="Medellín">Medellín</option>
              <option value="Cali">Cali</option>
              <option value="Cartagena">Cartagena</option>
              <option value="Pasto">Pasto</option>
            </select>
          </div>
          <div class="flex flex-col mt-2">
            <label>Dirección</label>
            <input id="direction-departure" type="text" class="w-48 h-8 p-1 rounded">
          </div>
        </div>
        <p class="text-center font-bold">Salida</p>
        <div class="flex flex-row">
          <label class="self-center text-center">
            Fecha
            <input id="date-departure" type="date" class="w-32">
          </label>
          <label class="self-center ml-1 text-center">
            Hora
            <input id="time-departure" type="time" class="w-20 ml-1">
          </label>
        </div>
      </div>
      <div class="flex flex-col w-52">
        <p class="text-center font-bold">Lugar de destino</p>
        <div class="flex flex-col text-center self-center">
          <div class="flex flex-col">
            <label class="self-center text-center">Ciudad</label>
            <select name="citys2" id="city-arrive" class="w-48 h-8 p-1 rounded">
              <option value="Bogotá">Bogotá</option>
              <option value="Medellín">Medellín</option>
              <option value="Cali">Cali</option>
              <option value="Cartagena">Cartagena</option>
              <option value="Pasto">Pasto</option>
            </select>
          </div>
          <div class="flex flex-col mt-2">
            <label>Dirección</label>
            <input id="direction-arrive" type="text" class="w-48 h-8 p-1 rounded">
          </div>
        </div>
        <p class="text-center font-bold">Llegada</p>
        <div class="flex flex-row">
          <label class="self-center text-center">
            Fecha
            <input id="date-arrive" type="date" class="w-32">
          </label>
          <label class="self-center ml-1 text-center">
            Hora
            <input id="time-arrive" type="time" class="w-20 ml-1">
          </label>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-evenly">
      <div>
        <p class="text-center font-bold">Asientos disponibles</p>
        <div class="flex flex-row justify-center">
          <button id="seats-sub" class="w-10 h-10 rounded-full shadow-lg border rounded-full bg-white">
            -1
          </button>
          <div id="seats" class="w-20 h-10 bg-white mx-1 shadow-lg border rounded-lg pt-2 text-center">
          </div>
          <button id="seats-add" class="w-10 h-10 rounded-full shadow-lg border rounded-full bg-white">
            +1
          </button>
        </div>
      </div>
      <div>
        <p class="text-center font-bold">Tarifa</p>
        <input id="rate" type="number" class="shadow-lg rounded-lg border w-20 h-10 text-center text-xl
                p-1 self-center" placeholder="Tarifa" onkeypress="return event.charCode >= 48" min="1">
      </div>
      <div class="flex flex-col">
        <p class="text-center font-bold">Reserva automatica</p>
        <input id="auto-reserve" type="checkbox" class="shadow-lg mt-4 rounded-lg border w-4 h-4 self-center text-center text-xl
               p-1 self-center">
      </div>
    </div>
    <div class="flex flex-row justify-around">
      <div class="flex flex-col">
        <p class="text-center font-bold">Métodos de pago aceptados</p>
        <label class="self-center">
          Efectivo <input id="cash" type="checkbox" class="shadow-lg mt-4 ml-1 rounded-lg border w-4 h-4 self-center text-center text-xl
                    p-1 self-center">
        </label>
        <label class="self-center">
          Tarjeta <input id="card" type="checkbox" class="shadow-lg mt-4 ml-1 rounded-lg border w-4 h-4 self-center text-center text-xl
                    p-1 self-center">
        </label>
      </div>
      <div class="flex flex-col">
        <p class="text-center font-bold">Descripción</p>
        <input id="observations" type="text" class="shadow-lg rounded-lg border w-48 h-full text-center text-xl
                p-1 self-center" placeholder="Descripción">
      </div>
    </div>
    <div class="flex flex-row justify-around">
      <button class="border rounded-lg shadow-lg bg-blue-500 p-1 w-32" id="buttonCreate">
        <p class="font-bold text-white text-lg">Crear viaje</p>
      </button>
      <a href="../../index.html" class="border rounded-lg shadow-lg bg-red-500 p-1 w-32 flex justify-center">
        <p class="font-bold text-white text-lg self-center">Salir</p>
      </a>
    </div>
  </div>
</body>
<script src="../controllers/script.js"></script>
<script type="module" src="../controllers/CrearViajeControlador.js" ></script>

</html>